doctype html
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title Submitted
h1 #{message} 
h2 You can go back now by Pressing back button
h3
  a(href=URL ) Back